@use "../../Sass/style.scss" as style;
@use "../Cards/card.scss" as cards;
@use "../../Sass/mixin" as m;
@use "sass:math";


$mobile: 768px;
$width: calc(100vw-#{style.$CloseSidebar-width});


*::-webkit-scrollbar {
  display: none;
}

.DrawerBox {
  height: 100%;
  width: 250px;
  background-color: style.$sideBar-color;
}

.ResponsiveLayout {
  height: 100vh;
  display: flex;

  .MainContent {
    margin-left: style.$CloseSidebar-width;
    // background-color: lightgray;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
    flex-grow: 1;
    min-height: 100%;
  }

  .Navbar {
    @include m.breakpoint('medium') {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
      background-color: red;
      height: 60px;
    }
  }

  .Header {
    @include m.breakpoint('medium') {
      height: style.$header-height;
      background-color: style.$headerBg-color;
      padding: style.$paddingY style.$paddingX;
      color: style.$whiteBg-color;

    }
  }

  .CardsSection {
    background-color: style.$theme-color;
    
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .ChartSection {
    background-color: style.$theme-color;
  }

  .CalendarRT {
    background-color: style.$theme-color;
  }

  @media (max-width: $mobile) {
    .MainContent {
      margin-top: 50px;
      margin-left: 0;
    }
  }

  @include m.breakpoint('medium') {
    .MainContent {
      margin-left: style.$CloseSidebar-width;
    }
  }
}