@import "../../Sass/style.scss";
@import "../Cards/card.scss";

$cal-rtHeight: calc((#{$card-width}*2.5 + #{$marginX}*3)/#{$ratio});

.GridLayout {
  display: flex;
  padding: $paddingY $paddingX;
  .GridItem4 {
    margin: $marginY $marginX;
    height: $cal-rtHeight;
    background-color: $cal-rtBg-color;

    &.left4 {
      width: calc(#{$card-width}*2.5 + #{$marginX}*3);
    }

    &.right4 {
      width: calc(#{$card-width}*2.5 + #{$marginX}*3);
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    flex-wrap: wrap;

    .GridItem4 {
      flex: none; // Stack items on smaller screens
      width: 100%;
    }
  }
}