@import "../../Sass/style.scss";


.GridLayout {
    display: flex;
    gap: $Uni-gap; 
    height: 100%;
  
    .GridItem {
      padding: 16px; 
  
      &.left4 {
        background-color: wheat;
        flex: 50%; 
      }
  
      &.right4 {
        background-color: red;
        flex: 50%; 
      }
    }
  
    @media (max-width: 1024px) {
      flex-direction: row-reverse;
      flex-wrap: wrap;
      .GridItem {
        flex: none;
        width: 100%;
      }
    }
  }
  