@use "../../Sass/style.scss" as style;
@use "../Cards/card.scss" as cards;
@use "../../Sass/mixin" as m;

.BoxLayout {
  display: flex;
  flex-direction: column;
  padding: style.$paddingY style.$paddingX;
  color : style.$whiteBg-color;
  height: 1000px;
  .BoxItem {
    height: 50%;
    width: calc(#{cards.$card-width}*5 + style.$CloseSidebar-width + #{style.$marginX}*8);
    background-color: style.$chartsBg-color;
    margin: style.$marginX style.$marginX;
  }
  
  @include m.breakpoint('medium') {
    flex-direction: row;
    height: calc((#{cards.$card-width}*2 + #{style.$marginX}*2)/#{style.$ratio});
    
    .BoxItem {
      height: calc((#{cards.$card-width}*2 + #{style.$marginX}*2)/#{style.$ratio});
      // margin: style.$marginY style.$marginX;
      padding: #{style.$paddingY} #{style.$paddingX};
      
      &.Boxleft {
        width: calc(#{cards.$card-width}*3 + #{style.$marginX}*4);
      }
  
      &.Boxright {
        width: calc(#{cards.$card-width}*2 + #{style.$marginX}*2);
      }
    }
  }
}