@import "../../Sass/style.scss";
@import "../Cards/card.scss";

.BoxLayout {
  display: flex;
  padding: $paddingY $paddingX;
  color : $whiteBg-color;
  .BoxItem {
    margin: $marginY $marginX;
    height: calc((#{$card-width}*2 + #{$marginX}*2)/#{$ratio});
    background-color: $chartsBg-color;

    &.Boxleft {
      width: calc(#{$card-width}*3 + #{$marginX}*4);
    }

    &.Boxright {
      width: calc(#{$card-width}*2 + #{$marginX}*2);
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    flex-wrap: wrap;

    .GridItem {
      flex: none; // Stack items on smaller screens
      width: 100%;
    }
  }
}