@use "../../Sass/style.scss" as style;
@use "../../Sass/mixin" as m;

// On LayOut before expanding
.Sidebar {
  @include m.breakpoint("medium") {
    background-color: style.$sideBar-color;
    color: style.$whiteBg-color;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    min-height: 100vh;
    width: style.$CloseSidebar-width;
    position: fixed;
    height: 100%;
  }
}

.DrawerBox {
  // @include m.breakpoint("medium") {

  height: 100%;
  width: 250px;
  background-color: style.$sideBar-color;
  padding: #{style.$paddingX};

  .List {
    margin-top: calc(#{style.$marginX}* 2);

    .ListItems {
      margin-top: calc(#{style.$marginX});
      margin-bottom: #{style.$marginX};
      border-radius: #{style.$border};
      border: 1px solid #{style.$border-color};

      display: flex;
      justify-items: start;
      align-items: center;
      gap: #{style.$Uni-gap};

      &:hover {
        background-color: lightgray; // Add hover styles here
        cursor: pointer;
        transform: scale(1.02);
      }
    }

    // }
  }
}

.SidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .OpenMenuIcon {
    &:hover {
      background-color: rgba(253, 175, 175, 0.307); // Add hover styles here
      cursor: pointer;
      transform: scale(1.02);
      border-radius: #{style.$border};
      border: 1px solid #{style.$border-color};
    }
  }
}
