@use "../../Sass/style.scss" as style;
@use "../../Sass/mixin" as m;
@use "sass:math";


$card-width: calc((#{style.$screen-width} - #{style.$CloseSidebar-width} - (10 * #{style.$marginX}) - (2 * #{style.$paddingX})) / 5);
$card-height: calc(#{$card-width}/#{style.$ratio});

// --calculated-width: calc((#{style.$screen-width} - (10 * #{style.$marginX}) - (2 * #{style.$paddingX})) / 5);
// $mini-cardHeight: calc($mini-cardWidth/style.$ratio);

$mini-cardWidth: 188px;
$calculated-width: calc((#{style.$screen-width} - (10 * #{style.$marginX}) - (2 * #{style.$paddingX})) / 5);
$mini-cardHeight: calc(#{$mini-cardWidth}/#{style.$ratio});

// Check which value is greater and assign it to $mini-cardWidth
// @if $mini-cardWidth > $calculated-width {
//   $mini-cardWidth: $mini-cardWidth;
// } @else {
//   $mini-cardWidth: $calculated-width;
// }


.Box {
  flex-grow: 1;
  flex-shrink: 0;
  margin: style.$marginY style.$marginX;
  background-color: rgb(0, 245, 53);
  min-height: $mini-cardHeight;
  min-width: $mini-cardWidth;

  .Card {
    background-color: rgb(108, 191, 191);
    padding: style.$paddingY style.$paddingX;
    width: 100%;
    height: 100%;
  }

  @include m.breakpoint('large') {
    width: $card-width;
    height: $card-height;
    margin: style.$marginY style.$marginX;
    background-color: brown;

    .Card {
      background-color: aqua;
      width: 100%;
      height: 100%;
      padding: style.$paddingY style.$paddingX;
    }
  }


  // Laptop and larger screens: Cards stay inside the container, no scrolling
  // @media (min-width: 1025px) {
  //   flex-wrap: wrap;
  //   overflow: hidden;
  //   justify-content: center;
  // }

  // @media (max-width: 1024px) {
  //   flex-wrap: nowrap;
  //   overflow-x: auto;
  //   justify-content: flex-start;

  //   .Card {
  //     min-width: 300px; // Ensures proper scrolling effect
  //     height: 100%;
  //   }
  // }
}